
.icon-phone{
    font-size :14px;
    color :black;
    font-weight :bold;

}
.header{
    z-index: 1;
}

ion-icon{
    font-size: 15px;
}

.icon-phone:hover{
    cursor: pointer;
    text-decoration: none;
}

.content-about{
    background-color:#fafafa;
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 16px;
    padding: 32px;
}



.about-us{
    padding-left: 15px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 16px;
}


