.container-infoDetails{
    display:flex;
}


h3{
    display: flex;
    
}

.sanphamlquan{
    display: flex;
    justify-content:space-between;
    
}
.ProductRelated{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 0px;
}